<%= simple_form_for @farm do |f| %>
<div class="new-farm-form">
    <div class ="span4">
    <h2>Give us some information about you CSA.</h2>
    <p>Let your customers learn about your farm and where you are located.  Put your farm on the map, literally.
    </p>
  </div>

  <div class="span5 offset3">
    <div class="form-bg">
    <%= f.input :name, label: 'Enter the name of you farm' %>
    <%= f.input :farm_description, label: 'Enter a description of your farm' %>
    <%= f.input :certification, collection: ["organic", "conventional", "none"], label: 'What kind of certifications does your farm have?' %>
    <%= f.input :address, label: 'What is the address of your farm?' %>
    <%= f.input :city, label: 'What city/town are you in?' %>
    <%= f.input :state, label: 'Which state is you farm located in?' %>
    <%= f.country_select :country, ["United States"] %>
    <%= f.input :phone_number, label: 'Enter your phone number if you like' %>
    <%= f.input :website, placeholder: 'www.example.com', label: 'Enter your website address if you have one' %>
    <%= f.input :number_of_shares, as: :string, label: 'How many shares do you offer?' %>
    <%= f.input :share_price, label: 'How much does a share cost? in $US (give the full share price)' %>
    <%= f.input :share_description, label: 'Give a description of what is included in the share (if you offer different share types include them here)' %>
    <div class="current-image">
    <label>Your Current Farm Photo:</label>
        <%= image_tag @farm.image_url(:thumb).to_s %>
    </div>
    <label>Upload a photo or change the existing one:</label>
    <div id="image_preview"></div>
    <%= f.input :image, label: false, input_html: {id: 'hellofarm'} %>
    <%= f.button :submit, :class => "btn btn-success" %>
    <% end %>
    </div>
  </div>
</div>


<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
            $('#image_preview').append('<img src="' + e.target.result + '" class="thumbnail"/>')

        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('hellofarm').addEventListener('change', handleFileSelect, false);
</script>
