<% if @farms.empty?%>
<div class="no-farms">
  <div class="span6 offset3">
    <h1>You Have No Farms Yet</h1>
    <%= link_to "Create A Farm", new_farm_path, :class => "btn btn-large btn-success" %>
    <%= link_to "Take me back to the map", root_path, :class => "btn btn-large btn-info" %>
  </div>
</div>
<% end %>
<% unless @farms.empty?%>
<div class="profile-heading">
  <div class="row-fluid">
    <div class="span6 offset3">
      <h1>Current Farms</h1>
    </div>
  </div>
</div>
<% end %>
<div class="farm-profile-list">
  <% @farms.each do |farm| %>
  <div class="profiles">
    <div class="row-fluid">
      <div class="span6 offset3">
        <div class="span2">
          <%= image_tag farm.image_url(:thumb).to_s %>
        </div>
        <div class="span10 offset 2">
          <h6>Farm Name:</h6>
          <h4> <%= farm.name %></h4>
          <div class="buttons-list">
            <%= link_to "View This Farm", farm_path(farm), :class => "btn btn-large btn-info" %>
            <div class="danger-buttons">
              <%= link_to "Edit This Farm", edit_farm_path(farm), :class => "btn btn-warning" %>
              <%= link_to "Delete This Farm", farm_path(farm), method: :delete, :class => "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% unless @farms.empty?%>
<div class="back-home">
  <div class="row-fluid">
    <div class="span4 offset8">
      <%= link_to "Back to the map", root_path, :class => "btn btn-large btn-info" %>
      <%= link_to "Create A Farm", new_farm_path, :class => "btn btn-large btn-success" %>
    </div>
  </div>
</div>
<% end %>
