
<div class="farm-show">
  <div class="farm-header">
  <div class="row-fluid">
      <div class="span8">
        <h5>Farm Name:</h5>
        <h1>
          <%= @farm.name %>
        </h1>
      </div>
      <div class="span4">
        <h5>Location:</h5>
        <h1>
          <%= @farm.city %>,
          <%= @farm.state %>
        </h1>
      </div>
    </div>
    </div>
  <div class="row-fluid">
    <div class="farm-photo" class="span12">
      <img src="http://placebear.com/1400/500">
    </div>
  </div>
    <div class="farm-info-wrap">
  <div class="row-fluid">
    <div class="span12">
      <div class="farm-description">
        <h5>Farm Description:</h5>
        <p>
        <%= @farm.farm_description %>
          </p>
          <hr>

      <h5>Share Description</h5>
      <p>
      <%= @farm.share_description %>
    </p>
  </div>
</div>
<div class="map">
  <div class="span12">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=1600x700&sensor=false&zoom=16&markers=#{@farm.latitude}%2C#{@farm.longitude}" %>
</div>
  <div class="farm-info">

    <div class="span12">
      <h5>Farm Details</h5>
      <ul>
        <li>
          <p>
            Address:
            <b> <%= @farm.address %> </b>
          </p>
        </li>
      <hr>
        <li>
          <p>
            Phone Number:
            <b> <%= @farm.phone_number %> </b>
          </p>
          <p>
          </li>
         <hr>
          <li>
            <p>
              Certification:
              <b> <%= @farm.certification %> </b>
            </p>
          </li>
          <hr>
          <li>
            <p>
              Number of shares:
              <b> <%= @farm.number_of_shares %> </b>
            </p>
          </li>
          <hr>
          <li>
            <p>
              Share price:
              <b> <%= @farm.share_price %> </b>
            </p>
          </li>
          <hr>
          <li>
            <p>
              Website Address:
              <b> <%= @farm.website %> </b>
            </p>
          </li>
          <hr>
          <li>
            <p>
              Email:
              <b> <%= @farm.user.email %> </b>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



  <%= link_to 'Edit', edit_farm_path(@farm) %> |
  <%= link_to 'Back', farms_path %>
