<p id="notice"><%= notice %></p>
<div class="farm-show">
  <div class="row-fluid">
    <div class="span6">
      <h1>
        <%= @farm.name %>
      </h1>
    </div>
    <div class="span4 offset2">
      <h3>
        <%= @farm.city %>,
        <%= @farm.state %>
      </h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="farm-photo" class="span12">
      <img src="http://placehold.it/1400x500">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <div class="farm-description">
        <h4>Farm Description</h4>
        <%= @farm.farm_description %>
      </div>
    </div>
    <div class="farm-info">

      <div class="span4">
   
          <p>
            <b>Address:</b>
          <%= @farm.address %>
        </p>

        <p>
          <b>Phone Number:</b>
          <%= @farm.phone_number %>
        </p>
        <p>
          <b>Certification:</b>
          <%= @farm.certification %>
        </p>

        <p>
          <b>Number of shares:</b>
          <%= @farm.number_of_shares %>
        </p>

        <p>
          <b>Share price:</b>
          <%= @farm.share_price %>
        </p>
      </div>
    </div>
  </div>

    

    <%= link_to 'Edit', edit_farm_path(@farm) %> |
    <%= link_to 'Back', farms_path %>