<div class="row-fluid">
 <div class="sign-in"> 
  
    <% if user_signed_in? %>
    <div class="span4 offset8">
    <p>Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Edit Profile", edit_user_registration_path %> | 
      <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
      <%= link_to "Submit Your Farm", new_farm_path %> |
      <!-- <#%= @farm.each do |farm| %>
      <#%= link_to "Edit your farm", edit_farm_path(farm) %>
      <#% end %> -->
      </div>
      <% else %>
    <div class="span2 offset10">
    <h4> 
      <%= link_to "Sign Up", new_user_registration_path %> |  
      <%= link_to "Sign In", new_user_session_path %>
    </h4>
  </div>
    <% end %> 
</div>
</div>
<div class="row-fluid"> 
  <div class="jumbotron">
    <h1>
      Welcome to Farm Finder
      <br>
      </h1>
      <p class="lead">
      Want fresh food? Find a local farm CSA near you.
      <br>
      Let the world know about your farm.  Share your information about your csa share.
      <br>
      <br>
     </p>
    </div>
  </div>
</div>
  <div class="search">
    <div class="row-fluid">
      <div class="span4">
        <div class="search-heading">
          <h2 class="text-center">
            Find Farms Near You.
            <br>
          </h2>
        </div>
      </div>
      <div style="display: block;" class="span6">
        <div class="control-group">
          <div class="controls">
            <input class="searchform" type="text" placeholder="Please Enter Your Location...">
          </div>
        </div>
      </div>
      <div class="span2">
        <a class="btn btn-large btn-info">Search</a>
      </div>
    </div>
  </div>
  <div class="farm-list">
    <div class="row-fluid">
      <div class="span4">
        <ul>
          <!-- <li>
            <h4>
              <#%= farm.name.all %>
            </h4>
            <h6>
              <#%= farms.city.all %> <p>,</p> <#%= farm.state.all %>
            </h6>
            <p>
             <#%= farm.farm_description.all %>
            </p>
          </li>  -->
          <li>
            <h4>
              Lorem Farm
            </h4>
            <h6>
              Ipsum, MA
            </h6>
            <p>
              This is a description. Vivamus vehicula ultrices mi, ut tincidunt urna
              malesuada mattis. Aliquam mauris erat, convallis at facilisis eget, venenatis
              sit amet diam. Maecenas euismod, leo non luctus iaculis...
            </p>
          </li>
          <li>
            <h4>
              Green Acres
            </h4>
            <h6>
              Boston, MA
            </h6>
            <p>
              This is a description. Vivamus vehicula ultrices mi, ut tincidunt urna
              malesuada mattis. Aliquam mauris erat, convallis at facilisis eget, venenatis
              sit amet diam. Maecenas euismod, leo non luctus iaculis...
            </p>
          </li>
          <li>
            <h4>
              Wallace Farms
            </h4>
            <h6>
              Sudbury, MA
            </h6>
            <p>
              This is a description. Vivamus vehicula ultrices mi, ut tincidunt urna
              malesuada mattis. Aliquam mauris erat, convallis at facilisis eget, venenatis
              sit amet diam. Maecenas euismod, leo non luctus iaculis...
            </p>
          </li>
           <li>
            <h4>
              Wallace Farms
            </h4>
            <h6>
              Sudbury, MA
            </h6>
            <p>
              This is a description. Vivamus vehicula ultrices mi, ut tincidunt urna
              malesuada mattis. Aliquam mauris erat, convallis at facilisis eget, venenatis
              sit amet diam. Maecenas euismod, leo non luctus iaculis...
            </p>
          </li>
          <li>
            <h4>
              Lorem Farm
            </h4>
            <h6>
              Ipsum, MA
            </h6>
            <p>
              This is a description. Vivamus vehicula ultrices mi, ut tincidunt urna
              malesuada mattis. Aliquam mauris erat, convallis at facilisis eget, venenatis
              sit amet diam. Maecenas euismod, leo non luctus iaculis...
            </p>
          </li>
          <li>
            <h4>
              Green Acres
            </h4>
            <h6>
              Boston, MA
            </h6>
            <p>
              This is a description. Vivamus vehicula ultrices mi, ut tincidunt urna
              malesuada mattis. Aliquam mauris erat, convallis at facilisis eget, venenatis
              sit amet diam. Maecenas euismod, leo non luctus iaculis...
            </p>
          </li>
          <li>
            <h4>
              Wallace Farms
            </h4>
            <h6>
              Sudbury, MA
            </h6>
            <p>
              This is a description. Vivamus vehicula ultrices mi, ut tincidunt urna
              malesuada mattis. Aliquam mauris erat, convallis at facilisis eget, venenatis
              sit amet diam. Maecenas euismod, leo non luctus iaculis...
            </p>
          </li>
        </ul>
      </div>
      <div class="span8">
        <iframe marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=42.361588,-71.155701&amp;spn=0.592605,1.234589&amp;t=h&amp;z=10&amp;output=embed" frameborder="0" height="1000" scrolling="no" width="100%">
        </iframe>
      </div>
      </div>
      <div class="row-fluid">
      <div class="footer-bar">
      </div>
    <div class="footer">
     <div class="row-fluid">
      <div class="span6">
       <div class="left">
       <h3>
        Calling All Farmers 
       </h3>
       <% if user_signed_in? %>
       <%= link_to "Add Your Farm", new_farm_path, :class => "btn btn-large btn-success" %>
       <%= link_to "Edit Your Farm", new_farm_path, :class => "btn btn-large btn-info" %>
       <% else %>
       <%= link_to "Signup", new_user_registration_path, :class => "btn btn-large btn-info" %>
       <%= link_to "Sign In", new_user_session_path, :class => "btn btn-large" %>
        <% end %>
        <p>
          List your farm for the public to see.
        </p>
        </div>
       </div>
      <div class="span6">
      <div class="right">
      <h3>
        About
      </h3>
        <p>
          Farmfinder helps connect the public with local farmers.  It also allows farm owners market their farm.  Hope you enjoy using Farmfinder as much as I enjoyed building it. 
        </p>
      </div>
     </div>
    </div>
  </div>
</div> 
